* {
  background-color: #698d91;
}

section {
  margin: 5rem;
  color: white;
  font-weight: bold;
}
#nav-bar{
  position: fixed;
  font-size: 18px;
  top: 0;

}
h1{
  text-align: center;
  color: darkblue;
  text-decoration: wavy white underline;
  font-weight: bold;
}
img{
  margin: 0 auto;
  display: block;
  width: 180px;
  height: 180px;
  border: white solid;
}
iframe{
  margin: 0 auto;
  display: block;
}

@media (hover:hover){
  a:hover{
    color: blue;
    background-color: white;
  }
}

.flex-container{
  color: white;
  display: flex;
}
